<!doctype html>
html(lang="tr")

    include ../includes/head.pug

    body

        include ../includes/navbar.pug

        .container.pt-100.mb-5
            block content

        include ../includes/script